# requirements.txt records the full set of dependencies for development
accelerate
codetiming
datasets
dill
fla-core==0.5.2
hydra-core
liger-kernel
numpy
pandas
peft
pyarrow>=19.0.0
pybind11
pylatexenc
pre-commit
ray[default]>=2.41.0,<=2.50.0
tensordict>=0.8.0,<=0.10.0,!=0.9.0
torch==2.10.0
torchdata
transformers==5.10.4
vllm==0.19.1
protobuf==5.29.6
causal-conv1d==1.7.0
wandb
packaging>=20.0
uvicorn
fastapi
qwen-vl-utils[decord]
